@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed|Julius+Sans+One);

/*****************************************************
                   Base Styles
******************************************************/

/**********************************
             #sidebar
**********************************/

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

div#sidebar{
	text-align: center;
	width: 100%;
	background-color: #333333;
	background-image: url("images/type.png"); /* Background pattern from subtlepatterns.com */
	padding: 5px;

}

div#footer{
	text-align: center;
	width: 100%;
	background-color: #333333;
	background-image: url("images/type.png"); /* Background pattern from subtlepatterns.com */
	padding: 5px;
}
	

h1#sitetitle{
	font-size: 150%;
	font-weight: bold;
	font-family: "Julius Sans One", serif;
}


ul#navigation{
	list-style-type: none;
	font-size: 100%;
	font-family: 'Cabin Condensed', 'Lucida Sans', serif;
}

ul#navigation, ul#footer, ul#socialmedia{
	padding-left: 0;
}

a#navigation:link, a#navigation:visited{
	color: #cccccc;
	text-decoration: none;
}

a#footer:link, a#footer:visited{
	color: #cccccc;
	font-weight: bold;
	text-decoration: none;
}

a#navigation:hover, a#footer:hover{
	color: #cccccc;
	text-decoration: underline;
}

a#home:link, a#home:visited, a#home:active{
	color: #cccccc;
	text-decoration: underline;
	font-weight: bold;
	text-decoration:none;
}

a#home:hover{
	color: #cccccc;
	text-decoration: underline;
}

ul#footer{
	list-style-type: none;
	font-size: 80%;
	color: #eeeeee;
	font-family: 'Cabin Condensed', 'Lucida Sans', serif;
}




/**********************************
             Content
**********************************/
div#article{
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

div#article{
	font-family: 'Cabin Condensed', 'Lucida Sans', serif;
	color: #333333;
	font-size: 100%;
}

div#article h1, h2, h3, h4, h5, h6{
	font-family: "Julius Sans One", serif;
	color: #333333;
	font-weight: bold;
}


pre{
	background-color: #eeeeee;
	font-size: 90%;
	padding: 5px;

}


/*****************************************************
                   Begin media queries
******************************************************/


/**********************************
Computer Screen (min width 580 px)
**********************************/
@media only screen and (min-width:580px){

	h1#sitetitle{
		margin-top:50px;
		margin-bottom: 0px;
	}
	
	ul#navigation{
		margin-top: 25px;
	}

	div#sidebar{
		height: 150px;
	}
	

	
	li#navigation, li#footer, li#socialmedia{
		display: inline;
		padding: 5px;
	}
	
	
	
	div#article{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;		
	}
	
}

/**********************************
   Percent, not center
**********************************/
@media only screen and (min-width: 480px) and (max-width: 779px){

	h1#sitetitle{
		margin-top:70px;
		margin-bottom: 0px;
	}
	
	ul#navigation{
		margin-top: 35px;
	}

	div#sidebar{
		height: 210px;
	}
	

	
	li#navigation, li#footer, li#socialmedia{
		display: inline;
		padding: 5px;
	}
	
	
		
	div#article{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		
	}

}

/**********************************
   Not percent, center
**********************************/
@media only screen and (min-width: 220px) and (max-width: 479px){


	
	
		
	div#article{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		
	}

}
