@charset "UTF-8";

/*****************************************************
                   Base Styles
******************************************************/

/**********************************
             Body
**********************************/
body {
	background: #ffffff;
	color: #000000;
	font: 100% "Arial", sans-serif;
}


/**********************************
             Sidebar
**********************************/

sidebar{
	color: #669900;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #669900;

}

h1{
	font-size: 235%;
	font-weight: bold;
	margin-top:0px;
}


ul#navigation{
	list-style-type: none;
	font-size: 115%;
	font-weight: bold;
}

a#navigation:link, a#navigation:visited, a#footer:link, a#footer:visited{
	color: #ff5050;
	font-weight: bold;
	text-decoration: none;
}

a#navigation:hover, a#footer:hover{
	color: #669900;
	text-decoration: underline;
}

a#home:link, a#home:visited, a#home:active{
	color: #669900;
	text-decoration: underline;
	font-weight: bold;
	text-decoration:none;
}

a#home:hover{
	color: #669900;
	text-decoration: underline;
}

ul#footer{
	list-style-type: none;
	font-size: 80%;
	font-weight: bold;
}

hr{
	border-color: #669900;
	border: 0;
	border-top: 1px solid;
}


/**********************************
             Content
**********************************/

article{
	font: 100% "Arial", sans-serif;
	color: #000000;
}

pre{
	background-color: #ffff99;
	font-size: 85%;
	padding: 5px;

}


/*****************************************************
                   Begin media queries
******************************************************/


/**********************************
Computer Screen (min width 780 px)
**********************************/
@media only screen and (min-width:780px){

	body {
		height:100%;
		width:80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 35px;
	}

	sidebar{
		height: 100%;
		width: 240px;
		float:left;
		text-align: right;
		
	}

	article{
		clear: right;
		margin-left: 280px;
		width: 500px;
	}
}

/**********************************
	Tablets(min width: 480 px)
**********************************/
@media only screen and (min-width: 220px) and (max-width: 779px){

	body {
		margin-top: 20px;
	}

	sidebar{
		text-align: center;
		width: 90%;
		margin-left: 5%;
		margin-right:5%;
	}
	
	ul#navigation, ul#footer{
	padding-left: 0;
	}
	
	
	article{
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #669900;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
	

}
