@charset "UTF-8";

/**********************************
     Layout and universal font
**********************************/
body {
	background: #ffffff;
	color: #000000;
	font: 100% "Arial", sans-serif;
	height:100%;
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 35px;

}

sidebar{
	height: 100%;
	width: 250px;
	float:left;
	color: #669900;
	text-align: right;

}



article{
	clear: right;
	margin-left: 285px;
	width: 500px;

}

/**********************************
             Sidebar
**********************************/

h1{
	font-size: 235%;
	font-weight: bold;
	margin-top:0px;
}


ul#navigation{
	list-style-type: none;
	font-size: 115%;
	font-weight: bold;
}

a#navigation:link, a#navigation:visited, a#footer:link, a#footer:visited{
	color: #669900;
	font-weight: bold;
	text-decoration: none;
}

a#navigation:hover, a#footer:hover{
	color: #669900;
	text-decoration: underline;
}

a#home:link, a#home:visited, a#home:active{
	color: #669900;
	text-decoration: underline;
	font-weight: bold;
	text-decoration:none;
}

a#home:hover{
	color: #669900;
	text-decoration: underline;
}

ul#footer{
	list-style-type: none;
	font-size: 90%;
	font-weight: bold;
}

hr{
	border-color: #669900;
	border: 0;
	border-top: 1px solid;
}


/**********************************
             Content
**********************************/

pre{
	background-color: #ffff99;
	font-size: 85%;
	padding: 5px;

}




