@charset "UTF-8";

/*****************************************************
                   Base Styles
******************************************************/

/**********************************
             Body
**********************************/
body, html {
	background: #ffffff;
	color: #333333;
	font: 100% "Arial", sans-serif;
	height: 100%;

}


/**********************************
             #sidebar
**********************************/

#sidebar, #footer{
	color: #669900;

}

h1{
	font-size: 380%;
	font-weight: bold;
	margin-top:0px;
	margin-bottom: 0px;
	font-family: 'Squada One', cursive;

}


ul#navigation{
	list-style-type: none;
	font-size: 155%;
	
	font-family: 'Pathway Gothic One', Arial Narrow;

}

a#navigation:link, a#navigation:visited{
	color: #ff5050;
	font-weight: bold;
	text-decoration: none;
}

a#footer:link, a#footer:visited{
	color: #ff5050;
	font-weight: bold;
	text-decoration: none;
}



a#navigation:hover, a#footer:hover{
	color: #669900;
	text-decoration: underline;
}

a#home:link, a#home:visited, a#home:active{
	color: #669900;
	text-decoration: underline;
	font-weight: bold;
	text-decoration:none;
}

a#home:hover{
	color: #669900;
	text-decoration: underline;
}

ul#footer{
	list-style-type: none;
	font-size: 80%;
	font-weight: bold;
}

hr{
	border-color: #669900;
	border: 0;
	border-top: 1px solid;
}


/**********************************
             Content
**********************************/

#article{
	font: 100% "Arial", sans-serif;
	color: #000000;

}

h3{
	color: #669900;
}

pre{
	background-color: #ffff99;
	font-size: 85%;
	padding: 5px;

}


/*****************************************************
                   Begin media queries
******************************************************/


/**********************************
Computer Screen (min width 580 px)
**********************************/
@media only screen and (min-width:580px){



	div#sidebar{
		text-align: center;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		background-image: url("images/light_wool.png");  /* Background pattern from subtlepatterns.com */
		padding: 5px;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-bottom-color: #669900;
	}
	
	div#footer{
		text-align: center;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		background-color: white;
		background-image: url("images/light_wool.png");  /* Background pattern from subtlepatterns.com */
		padding: 5px;
		border-top-style: solid;
		border-top-width: 3px;
		border-top-color: #669900;
	}
	
	ul#navigation, ul#footer, ul#socialmedia{
	padding-left: 0;
	}

	
	li#navigation, li#footer, li#socialmedia{
		display: inline;
		padding: 5px;
	}
	
	
	
	div#article{
		width: 700px;
		margin-left: auto;
		margin-right: auto;

		
	}
	

}

/**********************************
   Percent, not center
**********************************/
@media only screen and (min-width: 480px) and (max-width: 779px){



	div#sidebar{
		text-align: center;
		width: 90%;
		margin-left: 5%;
		margin-right:5%;
		background-color: white;
		background-image: url("images/light_wool.png");  /* Background pattern from subtlepatterns.com */
		padding: 5px;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-bottom-color: #669900;
	}
	
	div#footer{
		text-align: center;
		width: 90%;
		margin-left: 5%;
		margin-right:5%;
		background-color: white;
		background-image: url("images/light_wool.png");  /* Background pattern from subtlepatterns.com */
		padding: 5px;
		border-top-style: solid;
		border-top-width: 3px;
		border-top-color: #669900;
	}
	
	ul#navigation, ul#footer, ul#socialmedia{
	padding-left: 0;
	}
	
	li#navigation, li#footer, li#socialmedia{
		display: inline;
		padding: 5px;
	}
	
		
	div#article{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		
	}

}

/**********************************
   Not percent, center
**********************************/
@media only screen and (min-width: 220px) and (max-width: 479px){



	div#sidebar{
		text-align: center;
		width: 100%;
		background-color: white;
		background-image: url("images/light_wool.png");  /* Background pattern from subtlepatterns.com */
		padding: 5px;
		border-bottom-style: solid;
		border-bottom-width: 3px;
		border-bottom-color: #669900;
	}
	
	
	div#footer{
		text-align: center;
		width: 100%;
		background-color: white;
		background-image: url("images/light_wool.png");  /* Background pattern from subtlepatterns.com */
		padding: 5px;
		border-top-style: solid;
		border-top-width: 3px;
		border-top-color: #669900;
	}
	
	ul#navigation, ul#footer, ul#socialmedia{
	padding-left: 0;
	}
	
	
		
	div#article{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		
	}

}
